<?xml version="1.0"?>
<launch>
    <arg name="veh" value="duckie"/>
    <group>
        <include file="$(find wheels_driver)/launch/wheels_driver_node.launch">
            <arg name="veh" value="$(arg veh)"/>
        </include>
    </group>

    <group>
        <include file="$(find led_driver)/launch/led_driver_node.launch">
            <arg name="veh" value="$(arg veh)"/>
        </include>
    </group>
    <group>
        <include file="$(find wheel_encoder)/launch/wheel_encoder_node.launch">
            <arg name="veh" value="$(arg veh)"/>
        </include>
    </group>
</launch>
