<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="node_name" default="wheel_encoder_node"/>

    <group ns="$(arg veh)">
        <node pkg="wheel_encoder" type="$(arg node_name).py"
              name="$(arg node_name)" output="screen" required="true" launch-prefix="echo 'raspberry' | sudo -S">
            <param name="veh" type="str" value="$(arg veh)"/>
        </node>
    </group>
</launch>
